<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>{42.127255,-80.087348}</string>
	<key>2</key>
	<string>{42.127118,-80.087281}</string>
	<key>3</key>
	<string>{42.127055,-80.087182}</string>
	<key>4</key>
	<string>{42.126956,-80.087147}</string>
	<key>5</key>
	<string>{42.126814,-80.087051}</string>
	<key>6</key>
	<string>{42.126698,-80.086976}</string>
</dict>
</plist>
